* {
    box-sizing: border-box;
}

body {
    background: rgb(227, 227, 227);
    margin: 30px;
}

.main button{
    padding: 10px 20px;
    color: white;
    background: rgb(196, 46, 46);
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

.main button:hover {
    background: rgb(216, 61, 61);
    transition: 0.2s;
}

.main {
    display: flex;
    align-items: start;
    gap: 40px;
}

.main a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
    transition: 0.2s;
}

.main a:hover {
    background: rgb(69, 69, 210);
    transition: 0.2s;
    color: white;
    border: 1px solid rgb(69, 69, 210);
}

.link-auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.auth input {
    height: 5%;
}